*.class
FullProbes/*
.gradle/*
KeywordRankingDB.db
PyHelpers/addingYahooAnswersToClueweb/*
QueriesFromKeywords/*
StealingSnippetsFromBing.0.0.txt
TopQuestWordsQueries/*
__pycache__/*
build/*
checkRetrievedDocuments/*
jaspell/*
spellIndexDirectory/*
LuceneSpell/*
lib/*
results/*
